#wrapper{
	height: 100%;
	width: 100%;
	padding:10px;
	padding-top: 60px;
	position: relative;
}
#logo{
	text-align: center;
}
#logo img{
	width: 80%;
}
#copy{
	width: 100%;
	background-color: black;
	color: white;
	font-size: 12px;
	padding:10px;
	text-align: center;
	position: fixed;
	bottom: 0px;
}

.basicBtn{
	width: 100%;
	padding:20px;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
}

.red {
	background-color: red;
	color:white;
}
.white{
	background-color: white;
	color:red;
}
ul{
	width: 100%;
}
